$color-bg :   rgba(39,174,97,255); //#01a149
$color-black : #000;
$color-white : #fff;




.hero {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: flex;
flex-direction: column-reverse;
justify-content: center;
align-items: center;
}
//extra large
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
padding-top: 100px;
padding-bottom: 50px;
background: $color-black;
}


.hero_text-cont {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
//extra large
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}




.hero__text__h1{
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
font-family: 'Dosis', sans-serif;
font-size: 50px;
color: $color-white;
font-weight: bold;
width: 300px;
text-align: left;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
font-family: 'Dosis', sans-serif;
font-size: 80px;
color: $color-white;
font-weight: bold;
width: 500px;
text-align: left;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
font-family: 'Dosis', sans-serif;
font-size: 80px;
color: $color-white;
font-weight: bold;
width: 700px;
text-align: center;
}
//extra large
font-family: 'Dosis', sans-serif;
font-size: 80px;
color: $color-white;
font-weight: bold;
width: 500px;
text-align: left;
}




.food__image__cont {
  display: none;
}

@media (min-width: 600px) {
  .food__image__cont { 
      display: none;
      gap: 2rem;
      margin-top: -60px;
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .food__image__cont{
      display: grid;
      gap: 2rem;
      margin-top: -60px;
      margin-right: 10px;
      grid-template-columns: repeat(2, 1fr);
    }
}


@media (min-width: 1025px) {
  .food__image__cont{
      display: grid;
      gap: 2rem;
      margin-top: -60px;
      margin-right: 150px;
      grid-template-columns: repeat(2, 1fr);
    }
}


.food__image {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
width: 200px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
width: 200px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
width: 200px;
}
//extra large
width: 200px;
}


.category__button__cont {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
padding-top: 10px;
padding-bottom: 10px;
background: $color-bg;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
padding-top: 50px;
padding-bottom: 50px;
background: $color-bg;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
padding-top: 50px;
padding-bottom: 50px;
background: $color-bg;
}
//extra large
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
padding-top: 50px;
padding-bottom: 50px;
background: $color-bg;
}




.category__button {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
font-family: 'Dosis', sans-serif;
font-size: 10px;
font-weight: bold;
color: $color-black;
background: $color-white;
border: none;
border-radius: 15px;
padding: 5px 10px;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;

}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
font-family: 'Dosis', sans-serif;
font-size: 20px;
font-weight: bold;
color: $color-black;
background: $color-white;
border: none;
border-radius: 15px;
padding: 5px 10px;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;

}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
font-family: 'Dosis', sans-serif;
font-size: 20px;
font-weight: bold;
color: $color-black;
background: $color-white;
border: none;
border-radius: 15px;
padding: 5px 10px;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;

}
//extra large
font-family: 'Dosis', sans-serif;
font-size: 20px;
font-weight: bold;
color: $color-black;
background: $color-white;
border: none;
border-radius: 30px;
padding: 10px 20px;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
}



.category_button_image {
  //small
@media screen and (min-width: 320px) and (max-width: 576px) {
width: 50px;
}
// medium
@media screen and (min-width: 577px) and (max-width: 768px) {
width: 100px;
}
//large
@media screen and (min-width: 769px) and (max-width: 992px) {
width: 100px;
}
//extra large
width: 100px;
}



.recipes {
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  gap: 2rem;
  background: $color-white;
  
}

@media (min-width: 600px) {
  .recipes { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .recipes {
    grid-template-columns: repeat(4, 1fr); 
    padding-top: 50px;
    padding-bottom: 50px;
  }
}






