* {
  box-sizing: border-box;
}
 
.App {
  background-color: #fff;
}

.navbar-brand {
 color: #65C18C;
 font-weight: bold;
}

.icons {
  color: #65C18C;
  font-weight: bold;
  font-size: 20px;
}


.recipe-container {
  max-width: 1200px;
  min-height: 100vh;
  margin: 30px auto;
  border-radius: 20px;
  padding: 30px;
}

.random-recipe-container {
  background-color: #f7f7f7;
  max-width: 400px;
  margin: 30px auto;
  border-radius: 20px;
  padding: 30px;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}


.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.card {
  width: 300px;
  background-color: #fff;
  margin: 20px;
  padding-bottom: 30px;
  border: 2px solid #65C18C;
   background: rgba( 255, 255, 255, 0.05 );
  -webkit-backdrop-filter: blur( 0.5px );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 0.5px );
  border-radius: 20px;
  
}

.random-card {
  width: 100%;
}

.card-image {
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.random-card-image {
  width: 100%;
}


.card-body {
  padding: 10px;
  text-align: center;
}


.random-card-body {
  padding: 10px;
  text-align: center;
}

.category {
  color: #65C18C;
  font-weight: bold;
  font-size: 20px;
}

.name {
  font-size: 20px;
  margin-bottom: 20px;
}

.recipe-btn {
  background-color: #65C18C;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
}

form {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;

}

input {
  border: 2px solid #65C18C;
  padding: 10px;
  font-size: 16px;
}

input:focus {
  outline: none;
}

.search-bar {
  border-radius: 10px;
  width: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn {
 border-radius: 10px;
 background-color: #65C18C;
 color: #fff;
 margin-left: 10px;
}










