$color-bg :   rgba(76,176,81,255); //#01a149
$color-black : #000;
$color-white : #f8f8f8;
$color-cream : #eaeaea; //rgba(248,242,226,255)

font-family: 'Bitter', serif;
font-family: 'Dosis', sans-serif;

transform: scale(10, 10);